{# 
    Master wrapper for PT blocks.
    each item output with page-component-entity--photo-text.html.twig
    get wrapperClass then includes in container class, and shows slider specific items for slider
 #}

{# {{ wrapperClass }} #}

{# {% set wrapperClass = wrapperClass %} #}

{% if wrapperClass == 'slider' %}
lsjhfljshddfljhasdf;jha;dlfhj
{{ wrapperClass }}
    {# {{ attach_library('pathways/carousel') }} #}
{% endif %}


<div class="ptWrapper ptWrapper--{{ wrapperClass }}">
    {{items}}
    {% if wrapperClass == 'slider' %}
    <fieldset aria-controls="carousel" aria-label="carousel buttons" class="navigation">
        <button aria-label="previous" class="button prev">Prev<span class="as-icon as-icon--arrow-down"></span>
        </button>
        <button aria-label="next" class="button next">
            <span class="as-icon as-icon--arrow-down"></span>Next</button>
    </fieldset>
    {% endif %}
</div>
