{% set image_figure_base_class = image_figure_base_class | default('figure') %}
{% set image_figure_blockname = image_figure_blockname | default('') %}
{% set figure_modifiers = figure_modifiers | default(['image']) %}
{% set image_link_base_class = image_link_base_class | default('link') %}
{% set alignment = field_image_alignment %}

{# {{kint(alignment)}} #}

{# {{figure_modifiers}} #}
<figure {{ bem(image_figure_base_class, (figure_modifiers), image_figure_blockname, (alignment)) }}>
    {% if img_url %}
        <a {{ bem(image_link_base_class, (image_link_modifiers), image_link_blockname|default(image_figure_base_class)) }} href=" {{ img_url }} ">
        {% endif %}
        {% block figure_content %}
            {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src" : img_src,
                "img_alt" : img_alt
            } %}
        {% endblock %}
        {% if img_url %}
        </a>
    {% endif %}

    {% if img_caption %}
        <figcaption {{ bem('caption', (figcaption_modifiers), figcaption_blockname|default(image_figure_base_class)) }}>
            {{ img_caption }}
            {% if img_credit %}--
                {{img_credit}}
            {% endif %}
        </figcaption>
    {% endif %}
</figure>