{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menu_links %}

  <ul class="sidebarNav">

  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'sidebarNav__item',
      item.in_active_trail ? 'sidebarNav__item--active-trail',
      item.content.children ? 'sidebarNav__item--withSubNav',
    ] %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url) }}
      {% set menuLinkID = item.content['#menu_link_content'].id.value %}
      {% set nid = item.content['#menu_link_content'].link.0.uri %}
      {% set menuChildren = TRUE %}
      {% set menuLevel = item.menu_level %}
      {{drupal_block('menu_plug_block', {menu_link_id:menuLinkID, menu_children:menuChildren, menu_level:menuLevel}) }}
    </li>
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}

  {% endfor %}
  </ul>
{% endmacro %}
