<footer>
	{% block footer_content %}
		{# {{vardumper()}} #}
		<div class="footer">
			{# {{content}} #}
			{# {{ drupal_form('exposedformsearchpage_2') }} #}

				<div class="footer__currentStudents"> <h2>
					For current students
				</h2>
				{{ drupal_menu('for-current-students', 1, 2, true)	}}
			</div>
			<div class="footer__importantLinks">
				{{ drupal_menu('footer', 1, 2, true) }}
			</div>
			<div class="footer__socialLinks">
				<ul>
					<li>
						<a href="">
							Twitter
						</a>
					</li>
					<li>
						<a href="">
							Instagram
						</a>
					</li>
					<li>
						<a href="">
							Facebook
						</a>
					</li>
				</div>
				<div class="footer__logo">
					<a href="https://as.cornell.edu">
						A&S website
					</a>
				</div>
				<div class="footer__address">
					KG17 Klarman Hall
					<br/>
					Ithaca, NY 14853
					<br/>
					United states
				</div>
				<div class="footer__contacts">
					+1(607) 255-4833
				</br>
				<a href="mailto:as_admissions@cornell.edu">
					as_admissions@cornell.edu
				</a>
			</div>
		</div>
	{% endblock %}
</footer>
