<footer>
	{% block footer_content %}
		{# {{vardumper()}} #}
		<div class="footer">
			{# {{content}} #}
			{# {{ drupal_form('exposedformsearchpage_2') }} #}

				<div class="footer__currentStudents"> <h2>
					For current students
				</h2>
				{{ drupal_menu('for-current-students', 1, 2, true)	}}
			</div>
			<div class="footer__importantLinks">
				{{ drupal_menu('footer', 1, 2, true) }}
			</div>
		</div>
	{% endblock %}
</footer>
