<!-- Sip navigation -->
<nav class="row">
    <a href="">Skip to main navigation</a>
    <a href="">Skip to main content</a>
</nav>
<header>
    <!-- black bar -->
    <div class="row row--black">
        <div class="container container--topBar">
            {% if pl %}
                {% include "@molecules/forms/search-form.twig" %}
            {% else %}
                {{elements.pathways_search}}
            {% endif %}
            {% if pl %}
                <nav id="audience" class="nav--audience">
                    <ul class="audience-menu">
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Current Students
                            </a>
                        </li>
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Faculty
                            </a>
                        </li>
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Prospective Students
                            </a>
                        </li>
                        <li class="audience-menu__item">

                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Staff
                            </a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                {{elements.audience}}
            {% endif %}
        </div>
    </div>
    <!-- Logo -->
    <div class="row row--centered">
        <div class="container g-center">
            {# {{kint(_context)}} #}
            {% if pl %}
                {% include "@atoms/04-images/00-image/_image.twig" with {
                    "img_src" : img.full_logo.src,
                    "img_alt" : img.full_logo.alt
                } %}
            {% else %}
                {{elements.pathways_branding.content.site_logo}}
            {% endif %}
        </div>

    </div>
    <div class="row row--main-nav">
        <div class="container">
            {% if pl %}
                {% include "@molecules/site/menus/main-menu/main-menu.twig" with {
                    menu_items: menu_items,
                } %}
            {% else %}
                {{elements.mainnavigation}}
            {% endif %}
        </div>
    </div>
</header>