<!-- Sip navigation -->
<nav class="row">
    <a href="">Skip to main navigation</a>
    <a href="">Skip to main content</a>
</nav>
<header>
    <!-- black bar -->
    <div class="row row--black">
        <div class="container">
            {{elements.pathways_search}}
            {{elements.audience}}
        </div>
    </div>
    <!-- Logo -->
    <div class="row row--centered">
        {# {{kint(_context)}} #}
        {{elements.pathways_branding.content.site_logo}}
    </div>
    <div class="row row--main-nav">
        <div class="x-wide flex">
            {{elements.mainnavigation}}
        </div>
    </div>
</header>