<!-- Sip navigation -->
<nav class="row">
    <a href="">Skip to main navigation</a>
    <a href="">Skip to main content</a>
</nav>
<header>
    <!-- black bar -->
    <div class="row row--black">
        <div class="container">
            {% if pl %}
                {% include "@molecules/forms/search-form.twig" %}
            {% else %}
                {{elements.pathways_search}}
            {% endif %}

            {% if pl %}
                <nav id="audience" class="nav--audience">
                    <ul class="audience-menu">
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Current Students
                            </a>
                        </li>
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Faculty
                            </a>
                        </li>
                        <li class="audience-menu__item">
                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Prospective Students
                            </a>
                        </li>
                        <li class="audience-menu__item">

                            <a class="audience-menu__link" href="http://as.cornell.edu">
                                Staff
                            </a>
                        </li>
                    </ul>
                </nav>
                {# anyway to use audience-menu.yml for this? if not i'll hardcode it in here}
                {% include "@molecules/site/menus/audience-menu/audience-menu.twig" with {   
                } % #}
            {% else %}
                {{elements.audience}}
            {% endif %}
        </div>
    </div>
    <!-- Logo -->
    <div class="row row--centered">
        {# {{kint(_context)}} #}
        {{elements.pathways_branding.content.site_logo}}
    </div>
    <div class="row row--main-nav">
        <div class="x-wide flex">
            {{elements.mainnavigation}}
        </div>
    </div>
</header>