{# 

/* -------------------------

Title: _basic-page.twig
Descr: defines content and blocks for _default.twig for contenttype basic page.
Passes: has-sidebar to contentWrapper
        sets sidebar class to sidebar--basic-page
        sets aside_content to be placed in main content in default.twig

--------------------------- */ 

#}


{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}


<main {{ bem(main_element_base_class, (main_element_modifiers), main_blockname, main_element_extra_classes) }}>
    
    <div class="title">
        {% include "@atoms/00-text/_heading.twig" with {
            "heading_level" : 1,
            "heading" : title,
            "heading_modifiers" : ["margin"],
            "heading_base_class" : "title"
        } %}
    </div>
    <div class="content">
        {{main_content}}
    </div>
    {% if sidebarNav != false %}
    <div class="nav">
        {{ sidebar_nav }}
    </div>
    {% endif %}
    {% if sidebarContent %}
    <div class="sidebar">
        {{sidebar_content}}
    </div>
    {% endif %}
    {% if aside %}
        <aside>
            {{ aside_content }}
        </aside>
    {% endif %}
</main>